<div class="loadingContainer" style="margin-left: 22%">
  <img *ngIf="loading" src="assets/images/Loaders/Loading.gif" alt="Loading" style="vertical-align: middle">
</div>

<div class="modal-content rounded">
  <div class="modal-header" style="background-image: url('assets/Recipe Icons/Food.png') ; background-size: 512px">
    <h4 class="modal-title text-info" style="margin-left: 43%">Login</h4>
    <button type="button" class="close" (click)="activeModal.dismiss('Cross click')">
      <span class="text-danger">&times;</span>
    </button>
  </div>

  <div class="modal-body" style="background-image: url('assets/images/Authentication Background.jpg')">

    <img src="./assets/logo.png" alt="RECIPE BOOK" class="ml-auto mr-auto d-block" style="height: 128px ; width: 128px">

    <form (submit)="onLogin()" [formGroup]="form">

      <div class="form-group">
        <label for="email" class="font-weight-bold">Email</label>
        <input type="email" id="email" class="form-control rounded-pill" placeholder="Enter email address here" formControlName="email">
        <p id="emailError" class="text-danger" *ngIf="form.get('email').invalid && form.get('email').touched">Enter valid mail address</p>
      </div>

      <div class="form-group">
        <label for="password" class="font-weight-bold">Password</label>
        <input type="password" id="password" class="form-control rounded-pill" placeholder="Enter password here" formControlName="password">
        <p id="passwordError" class="text-danger" *ngIf="form.get('password').invalid && form.get('password').touched">Enter valid password</p>
      </div>

      <div class="text-center">
        <button [disabled]="form.invalid" type="submit" class="btn btn-primary rounded-pill" ngbAutofocus>Login</button>
      </div>

    </form>
  </div>
</div>
